/* Variable for scaling */
:root {
    --scalar: 250; /*A multiplier for dimensions*/
    --grid-gutter: 0.5px; /*Spacing between grid items */
}
header {
    display: flex;
    justify-content: space-between;
    height: 8ppx;
    position: fixed;
    width: 100%;
    background-color: gray;
    top: 0;
    left: 0;
    font-family: Alumni Sans Pinstripe;
    font-weight: 600;
    align-items: center;
}

header, footer{
    box-shadow: 0 0 1vh 1vh white;
    z-index: 10; /* Keep header and footer drawn over anything else*/
}

header h1{
    padding-left: 2vw;
}

nav {
    padding-right: 2vw;
    display: flex;
}

grid-wrapper {
    justify-content: center; /* Center the grid horizontally */
    margin-top: 500px;
}

nav button {
    font-family:
        Instrument Sans,
        sans-serif;
    border: none;
    color: cornsilk;
    height: 5vh;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    fill-opacity: 0;
    font-size: medium;
    margin: 4px 2px;
    opacity: 0.6;
    border-radius: 15px;
    background: none;
    transition: 0.3s;
}

nav button:hover {
    opacity: 0.75;
    background-color: darkgray;
    cursor: pointer;
}

nav button.active {
    border-color: lightgray;
    /*background-color: rgba(0, 0, 0, 0.20);
    color: white;*/
    text-decoration: underline;
    text-underline-offset: 6px;
}

#body {
    font-family:
        Instrument Sans,
        sans-serif;
}

.filter-container {
    z-index: 9; /* Render above grid items */
    position: fixed;
    top: 7vh;
    left: 2vw;
    background-color: rgba(255, 255, 255, 0.50);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-container h3 {
    text-decoration: underline;
    text-decoration-color: gray;
    color: gray;
    font-size: 1.2em; /* Adjust size as needed */
    margin-top: 0;
    margin-bottom: 0; /* Space between header and checkboxes */
    text-align: left; /* Align left, change if needed */
}

.filter-container label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer; /* Indicate that it's clickable */
    padding: 5px; /* Add some padding for better click area */
    border-radius: 10px; /* Add rounded corners */
}

.filter-container label:hover {
    background-color: #e0e0e0; /* Change background on hover */
}

.selected-filter {
    background-color: rgba(0, 0, 0, 0.05); /* Color for selected filters */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.portfolio {
    padding-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(0.7px * var(--scalar))); /* Main grid */
    column-gap: calc(1 * var(--grid-gutter) * var(--scalar)); /* Space between the cells */
    row-gap: calc(0.4 * var(--grid-gutter) * var(--scalar)); /* Space between the cells */
    justify-content: center; /* Center the grid on the page */
    justify-items: center; /* Center the grid on the page */
}

.grid-item {
    font-family: Alumni Sans Pinstripe;
    width: calc(1px * var(--scalar));
    height: calc(1.618px * var(--scalar));
    background-color: rgba(203, 250, 207);
    text-align: center;
    align-content: center;
    cursor: pointer;
    /* Background settings */
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    /* Filter Animations*/
    opacity: 1;
}

.grid-item:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 15px darkgray;
}

.grid-item:hover .grid-overlay {
    opacity: 1;
    text-shadow: 0 0 15px gray;
}

.grid-overlay {
    font-family:
        Instrument Sans,
        sans-serif;
    background-color: rgba(0, 0, 0, 0.25);
    width: calc(1px * var(--scalar));
    height: calc(1.618px * var(--scalar));
    align-content: center;
    color: white;
    opacity: 0;
    transition: 0.5s ease;
}

.grid-overlay h3 {
    font-size: x-large;
    font-weight: 300;
    opacity: 0;
    margin: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.grid-overlay .description {
    font-size: medium; /* Smaller font size for the description */
    margin: 10px 10px auto 10px;
    opacity: 0; /* Hide the description by default */
    transition: opacity 0.3s ease-in-out; 
}

/* Make the description visible when hovered */
.grid-item:hover .grid-overlay .description {
    opacity: 1;
}

/* Make the title visible when hovered */
.grid-item:hover .grid-overlay h3 {
    opacity: 1;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden; /* Prevent default scrolling of the lightbox */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; /* Make sure the lightbox is above other content */
}

.lightbox-content {
    font-family: Instrument Sans, sans-serif;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90vw; /* Responsive width */
    max-width: 1000px;
    max-height: 80vh; /* Limit overall height */
    overflow-y: auto; /* Allow vertical scrolling */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.lightbox-header {
    font-family: Alumni Sans Pinstripe;
    display: flex;                  /* Use flexbox for alignment */
    text-align: center;
    align-items: baseline;
    justify-content: space-between; /* Space between title and close button */
    margin: 0;                     /* Remove default margin */
    padding: 10px 0;               /* Add padding for spacing */
    color: black;                  /* Set the title color */
    background-color: white;       /* Background color for readability */
    position: sticky;              /* Make the header sticky */
    top: 0;                        /* Stick to the top of the lightbox */
    z-index: 1;                    /* Ensure it's above other content */
    box-shadow: 0 -20px 0 10px white;
}

#lightbox-timeframe {
    font-size: 1em; /* Adjust font size as needed */
    margin-left: auto;
    color: gray;
    text-align: right;
    padding-right: 1em;
}

#lightbox-title {
    text-align: left;
    font-size: 2em;
}

blockquote{
    background-color: lightgray;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners */
}

.close {
    cursor: pointer;
    font-size: 2.5em;
}

#lightbox-timeline {
    float: right;
}

#collaborators-section {
    font-size: large;
    font-style: normal;
    margin: 10px 0;
    color: #666;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add rounded corners */
    padding-left: 15px;
}

/* Slideshow container */
.slideshow-container {
    flex-grow: 1;                  /* Allow this to take remaining space */
    display: flex;                 /* Align children in a flex container */
    justify-content: center;       /* Center items */
    position: relative;            /* Allow absolute positioning of arrows */
}

/* Hide the slides by default */
.slide {
    display: none;
}

/* Previous/next buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

/* Description text */
.text {
    text-align: center;
    color: #000;
    padding: 8px 12px;
    font-size: 14px;
}

/* Thumbnails */
.row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.column {
    flex: 0 0 auto;
    width: 80px;
    margin: 5px;
}

.demo {
    opacity: 0.6;
    cursor: pointer;
}

.active,
.demo:hover {
    opacity: 1;
}

#image-description {
    text-align: center;
    margin-top: 10px;
}

.section {
    padding-bottom: 7vh;
    padding-top: 9vh;
    padding-left: 10vw; /* Padding around the grid */
    padding-right: 10vw; /* Padding around the grid */
}

footer {
    font-family:
        Instrument Sans,
        sans-serif;
    font-size: medium;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
}

.footer-content {
    padding-top: 0.3vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95%; /* Adjust as needed */
}

body {
    margin: 0;
    height: 100%;
}
